a:focus {
    outline: 0 solid;
    text-decoration: none;
    color: #fff
}

img {
    max-width: 100%;
    height: auto;
}

body {
    width: 100%;
    height: 100%
}

html,
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 24px
}

a {
    color: #232323
}

a:hover {
    text-decoration: none;
    color: #EEB76B
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


/*** hadding ***/

.hadding-area .hadding {
    font-family: montserrat;
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
}

.hadding-area {
    display: inline-block;
    padding-bottom: 70px;
    padding-top: 100px;
}

.hadding-area > p {
    padding: 30px 344px 0;
}

.hadding-line-1 {
    height: 1px;
    margin: 10px auto 0;
    width: 114px;
}

.hadding-line-2,
.hadding-line-3,
.hadding-line-1 {
    background-color: #EEB76B
}

.hadding-line-2 {
    height: 1px;
    margin: 2px auto 0;
    width: 106px;
}

.hadding-line-3 {
    height: 1px;
    margin: 2px auto 0;
    width: 98px;
}


/*** button ***/

.btn.btn-buttons:focus {
    outline: transparent;
}

.btn.btn-buttons:hover {
    background-color: #fff;
    color: #333
}

.btn.btn-buttons {
    background-color: #EEB76B;
    color: #fff;
    border-radius: 0;
    color: #fff;
    font-family: montserrat;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0;
    margin-right: 7px;
    padding: 9px 20px;
    text-transform: uppercase;
}

.btn.btn-no-bg {
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 0;
    font-family: montserrat;
    font-size: 13px;
    font-weight: bold;
    margin-left: 0;
    margin-right: 7px;
    padding: 9px 20px;
    text-transform: uppercase;
}

.btn.btn-no-bg:hover {
    background-color: #EEB76B;
    color: #fff;
    border-color: transparent
}
/*** hover **/
/*** / button ***/

.padding-60 {
    padding-top: 60px;
}

.margin-60 {
    margin-top: 60px;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}


/*** Transition animation ****/

.btn.btn-no-bg,
.btn.btn-buttons,
.about-title,
.search-box,
.search-hidden button,
.service-icon-hover,
.service-icon,
.current-pagination,
.blog-search button,
.team-social-iton,
.copyright > a,
a,
.back-top,
.mail-send,
.color-1,
.color-2,
.color-3,
.footer_widget li,
div.home_vdy .header-search button,
.item-price,
.portfolio-item .images-link,
.portfolio-item .image-view {
    -webkit-transition: all 0.4s ease 0s, -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.btn.btn-no-bg:hover,
.btn.btn-buttons:hover,
.about-title:hover,
.search-box:hover,
.search-hidden button:hover,
.service-item:hover .service-icon-hover,
.service-item:hover .service-icon,
.current-pagination:hover,
.blog-search button:hover,
.team-social-iton:hover,
.back-top:hover,
.mail-send:hover,
.color-1:hover,
.color-2:hover,
.color-3:hover,
.footer_widget li:hover,
.copyright > a:hover,
div.home_vdy .header-search button:hover,
.portfolio-content:hover .item-price,
.portfolio-item .image-view:hover,
.portfolio-item .images-link:hover {
    -webkit-transition: all 0.4s ease 0s,
	-moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}


/*** / Transition animation ****/

.float-left {
    float: left
}

.float-right {
    float: right
}


/*** stikcy ***/

.header-section.on {
    background-color: #C3BA85;
    padding: 0px 0px 0px;
    z-index: 999;
    padding: 24px 0;
}
/*** stikcy ***/

/** about **/

/**************************
Home Vdy start
***********************/

.home_vdy nav > ul > li > a {
    color: #333;
}

div.home_vdy .header-section {
    position: fixed;
    transition: none 0s ease 0s;
    background-color: #F5E8C7;
}

div.home_vdy .search-box {
    color: #333;
}

div.home_vdy .slider-section {
    margin-bottom: 100px;
    position: relative;
    top:108px;
}

div.home_vdy .header-section.on {
    background-color: #D0AF84;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 0;
    z-index: 999;
    transition: .4s
}

div.home_vdy .header-search input {
    border: 1px solid #e5e5e5;
    height: 40px;
    min-width: 270px;
    padding-left: 10px;
    padding-right: 40px;
}

div.home_vdy .header-search button {
    background-color: transparent;
    -webkit-border: transparent, -moz-border: transparent;
    -ms-border: transparent;
    -o-border: transparent;
    border: transparent;
    left: auto;
    padding: 8px 13px;
    position: absolute;
    right: -7px;
    top: 0;
}

div.home_vdy .header-search button:hover {
    background-color: #EEB76B;
    color: #fff
}

div.home_vdy .header-search > form {
    position: relative;
}

div.home_vdy .menu-section .header-search {
    padding-bottom: 10px;
}


/*** slider ***/

div.home_vdy .slide-content {
    left: 3px;
    margin: 0 124px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 36%;
    width: 620px;
    z-index: 99;
}

div.home_vdy .slide-content > p {
    margin-top: 10px;
    padding-bottom: 50px;
    padding-left: 0;
    width: 524px;
}

div.home_vdy .slide-content > h2 {
    font-weight: bold;
}


/*** about us ***/

div.home_vdy .about-image {
    float: right;
    height: 470px;
    width: 470px;
}

div.home_vdy .about-image > img {
    border-radius: 100%;
}


/*** portfolio ***/

div.home_vdy .portfolio-item {
    padding-bottom: 30px;
}

div.home_vdy .portfolio-item:hover .portfolio-content {
    width: 360px!important;
    height: 292px !important;
}

div.home_vdy .portfolio-content:hover .images-link {
    top: 134px;
}

div.home_vdy .portfolio-content:hover .image-view {
    bottom: 118px;
}


/*** footer ***/

div.home_vdy .footer_bg {

    display: inline;
    float: left;
    position: relative;
    width: 100%;
    z-index: 1;
}

div.home_vdy .footer_bg::after {
    background-color: rgba(0, 0, 0, 0.88);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

div.home_vdy .populer-tag > li > a {
    background-color: #DAD5AB;
}

/**************************
Home Vdy end
***********************/

/***** Header *****/

.header-section {
    position: fixed;
    transition: all 0.8s ease 0s;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
}


/***** Support *****/

.center-line {
    color: #fff;
    display: inline;
    margin: 0 15px;
}

.center-line::after {
    content: "|";
}

.header-section .support > ul > li {
    color: #fff;
    display: inline-block;
    font-family: lato;
    font-size: 15px;
}

.header-section .support {
    padding: 25px 0 8px;
    text-align: right;
}

.header-section .support .fa-envelope-o,
.header-section .support .fa-phone-square {
    font-size: 13px;
    margin: 0 5px;
}


/***** Support *****/


/*** menu ***/

nav > ul > li {
    display: inline-block;
}

.menuarea {
    display: inline-block;
    padding: 13px 0;
}

.menu-section {
    text-align: right;
}

nav > ul > li > a {
    color: #fff;
    font-family: Montserrat;
    font-size: 13px;
    padding: 20px;
    text-transform: uppercase;
}

.home_vdy nav > ul > li > a:hover,
.home_vdy ul.slimmenu li ul li a:hover {
    color: #EEB76B;
    font-weight: bold;
}

nav ul li .active a:focus,
nav ul li .active a:hover {
    background-color: transparent;
    color: #bea473 !important;
}

/***** Header *****/


/*** Slider section ****/

.slide-content {
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
    width: 620px;
    position: absolute;
    top: 36%;
    z-index: 99;
}

.img-bg {
    background: rgba(0, 0, 0, 0.28);
    min-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
}


/*** contant **/

.slide-content > h2 {
    font-family: montserrat;
    font-size: 34px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.slide-content > h2 {
    font-family: lato;
    font-size: 30px;
    font-weight: normal;
    line-height: 45px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.slide-content > p {
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding: 20px 71px 55px;
}


/*** Slider section ****/


/*** about section ***/

.about-section {
    padding-bottom: 70px;
    background-color: #FEFFE2;
}

.about-contents {
    padding-top: 70px;
}

.about-title {
    font-family: montserrat;
    font-size: 35px;
    font-weight: normal;
    text-transform: uppercase;
}

.about-title:hover {}

.about-content > p {
    line-height: 26px;
}

h5.about-sub-title {
    color: #333333;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.2em;
    padding-bottom: 35px;
    padding-top: 10px;
    text-decoration: underline;
    text-transform: uppercase;
}

.about-section .button {
    padding-top: 48px;
}

.about-section .button .btn.btn-buttons:hover {
    background-color: #232323;
    color: #fff;
}

.about-image {
    height: auto;
    width: 570px;
}

.font-italic {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.about-image > img {
    height: 100%;
    width: 100%;
}


/*** about section ***/

/*** Portfolio section ***/

.portfolio-section {
    display: inline-block;
    width: 100%;
}

.portfolio-categories {
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
}

.portfolio-categories > li {
    display: inline-block;
    color: #333
}

.portfolio-categories > li > {
    display: inline-block;
    font-family: Montserrat;
    font-weight: normal;
    letter-spacing: 0.2em;
    padding: 0 20px;
    text-transform: uppercase;
}

.portfolio-categories > li:hover {
    color: #EEB76B
}


/*** items ***/

.portfolio-item {
    height: auto;
}

.portfolio-categories > li span {
    cursor: pointer;
    padding: 0px 20px;
    text-transform: uppercase;
}

.portfolio-content {
    bottom: 0;
    display: none;
    height: 100%;
    padding: 50px 20px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 99;
}

.portfolio-item:hover .portfolio-content {
    display: block;
    transition: 4s
}

.portfolio-text {
    padding-top: 155px;
    margin: 0px
}

.portfolio-link-inner {
    margin: 138px auto 0;
    width: 85px;
}

.portfolio-item .image-view {
    margin-left: 45px;
    margin-top: -40px;
    position: absolute;
    bottom: -50px;
}

.portfolio-item .images-link,
.portfolio-item .image-view {
    background-color: #fff;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.portfolio-item .portfolio-links a span {
    margin-left: -3px;
}

.portfolio-item .images-link > a {
    padding: 14px;
}

.images-link {
    position: absolute;
    top: -48px;
}

.portfolio-content:hover .images-link {
    position: absolute;
    top: 148px;
    transition: all 0.4s ease 0s;
}

.portfolio-content:hover .image-view {
    bottom: 149px;
    margin-left: 45px;
    margin-top: -40px;
    position: absolute;
}

.portfolio-item .image-view > a {
    padding: 13px;
}

.portfolio-line {
    height: 60px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -65px;
    width: 1px;
}

.portfolio-line::after {
    content: "";
    height: 1px;
    position: absolute;
    width: 20px;
}

.portfolio-line::before {
    content: "";
    height: 1px;
    left: -20px;
    position: absolute;
    width: 20px;
}

.portfolio-item .image-view:hover,
.portfolio-item .images-link:hover {
    background-color: #EEB76B;
    border: transparent;
    color: #fff;
}

.images-link > a:hover,
.image-view > a:hover {
    color: #fff;
}

.portfolio-list .colmd-3 {
    padding: 0;
}

.portfolio-item:hover .portfolio-item-content::after {
    display: block
}

.portfolio-list .mix {
    display: none;
}


/*** / Portfolio section ***/


/*** team section ***/

.team-content {
    position: relative;
}

/* .our-team .hadding-area > p {
    letter-spacing: 0.1em;
    line-height: 26px;
    padding: 0 272px;
} */

.team-hover-item {
    display: none;
    padding: 121px 0;
    position: absolute;
    text-align: center;
    top: 0;
    z-index: 99;
}

.team-content:hover .team-hover-item,
.team-content:hover .team-content::after {
    display: block
}


/** hover **/

.team-social-iton a {
    color: #fff;
}

.team-title {
    font-family: montserrat;
    font-size: 15px;
    font-weight: bold;
    left: 0;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}

.team-sub-title {
    font-size: 14px;
    left: 18px;
    letter-spacing: 0.4em;
    padding: 10px 0 22px;
    text-transform: capitalize;
}

.team-social-iton {
    background-color: #EEB76B;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 1px;
    width: 40px;
}

.team-social-iton .facebook,
.team-social-iton .twitter,
.team-social-iton .linkin {
    display: block;
    font-size: 13px;
}

.team-social-iton .facebook:hover,
.team-social-iton .twitter:hover,
.team-social-iton .linkin:hover {
    display: block;
    transition: all 0.4s ease 0s;
}

.social-link {
    display: block;
    margin-bottom: 46px;
    margin-top: -24px;
    overflow: hidden;
}

.team-social-iton a:hover {
    background-color: #fff;
    color: #333;
}

.team-content:hover .team-content-box::after {
    display: block
}

.team-content-box::after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    display: none
}

.team-items .owl-prev {
    font-size: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 44%;
}

.team-items .owl-next {
    font-size: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 44%;
}

.team-hover-item {
    width: 100%;
}


/**** team section all icon  ***/

.team-contents .owl-dot.active > span::after {
    color: #EEB76B;
    content: "\f192";
    font-family: fontawesome;
}

.team-contents .owl-dot > span::after {
    color: #333;
    content: "\f192";
    font-family: fontawesome;
}

.team-contents .owl-dot {
    display: inline-block;
    width: 18px;
}

.team-contents .owl-dots {
    margin-top: 22px;
    text-align: center;
}

.team-content .facebook::after {
    content: "\f09a";
    font-family: fontawesome;
}

.team-content .twitter::after {
    content: "\f099";
    font-family: fontawesome;
}

.team-content .linkin::after {
    content: "\f0e1";
    font-family: fontawesome;
}

.team-items .owl-next::after {
    content: "\f178";
    font-family: fontawesome;
    font-size: 15px;
}

.team-items .owl-prev::after {
    content: "\f177";
    font-family: fontawesome;
    font-size: 15px;
}


/*** team section ***/

/*** blog section ***/
.home_1 .blog-meta > ul > li:hover {
    background-color: #333333;
}
.blog-meta ul li:hover {
  background: #333;
    -webkit-transition: all 0.4s ease 0s,
	-moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.blog-page-inner .blog-meta > ul > li:hover{
  background-color:#333;
      -webkit-transition: all 0.4s ease 0s,
	-moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.blog-section {
    display:block;
    background-color: #F0F0CB;
}

.blog-image {
    position: relative;
}

.blog-meta {
    position: absolute;
    right: 0;
    top: 36px;
}

.blog-meta ul li a span {
    color: #fff;
}
.blog-page-inner .blog-meta ul li a span {
    color: #fff;
	 padding: 7px 0;
}

.blog-date span {
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 14px;
}

.blog-meta > ul > li {
    font-size: 25px;
    height: 50px;
    margin-bottom: 5px;
    padding: 11px 14px;
    width: 50px;
    background-color: #EEB76B;
}

.blog-date > span {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    overflow: hidden;
}

.blog-content .title {
    display: block;
    font-family: montserrat;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 16px;
    margin-top: 22px;
    color: #333;
}

.blog-content .title:hover {
    color: #EEB76B
}

.home_1 .blog-content .title:hover {
    color: #bea473
}

a.readmore {
    margin-top: 26px;
    display: block;
    text-transform: capitalize;
    text-decoration: underline;
}

.blog-meta {
    display: none
}

.view-blogs {
    display: block;
    float: right;
    font-style: italic;
    margin-right: 14px;
    margin-top: 20px;
    text-decoration: underline;
    padding-bottom: 70px;
}


/*** blog section ***/

.title {
    color: #fff;
}

.team-contents .owl-dot {
    display: inline-block;
    width: 18px;
}

/** contact section **/

.contact-section {
	background-color: #fff;
	display: inline-block;
	width: 100%;
}

.contact-info .form-control {
    background: transparent;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    box-shadow: none;
    color: #999;
}

.contact-info .form-button {
    text-align: center;
    width: 100%;
}

.contact-info .form-mane,
.contact-info .form-subject,
.contact-info .form-email {
    height: 46px
}

.contact-info .form-group {
    margin: 0;
    padding: 0 0 36px;
}

.btn-buttons.submit-btn {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.1em;
    margin: 0 auto;
    padding: 10px 28px 7px;
}

.form-button .btn.btn-buttons.submit-btn:hover {
    background-color: #333;
    color: #fff;
}

.contact-info {
    padding-bottom: 70px;
}


/** / contact section **/


/**  maps section **/

.maps-section {
    background-color: #f7f8fb;
    height: 300px;
    position: relative;
    width: 100%;
}


/** / maps section **/


/** footer **/

.latest-news-item > img {
    float: left;
    margin: 8px 13px 11px 0;
}

.latest-news-item {
    border-bottom: 1px solid #DAD5AB;
    padding-bottom: 20px;
}

.latest-news-item:last-child {
    border: none;
    padding-top: 20px;
}

.latest-news-item > img {
    float: left;
    height: 60px;
    margin: 8px 13px 11px 0;
    width: 70px;
}

.latest-news-tile {
    font-weight: bold;
    font-size: 17px;
}

footer.footer-section {
    background-color: #C3BA85;
}

.footer-inner {
    border-bottom: 1px solid #DAD5AB;
    display: block;
    padding-top: 80px;
    padding-bottom: 45px;
}

.footer_widget .populer-tag a {
    padding: 0 14px;
}

.footer_widget > h3 {
    color: #000;
    font-family: montserrat;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;
}

.footer_widget > p,
.latest-news-tile,
.latest-news-item > p,
.footer_widget > ul > li > a {
    color: #fff
}

.footer_widget li {
    line-height: 38px;
}

.footer_widget > ul.quick-link > li > a:hover {
    margin-left: 10px;
    color: #000
}

.populer-tag > li {
    display: inline;
}

.populer-tag > li > a {
    border: 1px solid #F0F0CB;
    display: inline-block;
    margin: 0 7px 1px -3px;
    overflow: hidden;
    padding: 0 15px;
}

div .populer-tag > li > a:hover {
    background-color: #DAD5AB;
    color: #000;
    border-color: transparent;
}

.footer-social > a {
    color: #000;
    margin: 0 12px;
}

.footer-social > a:hover {
    color: #EEB76B;
}

.footer-social > a:first-child {
    margin-left: 0;
}

.footer-social {
    padding-top: 15px;
}

.copyright {
    color: #FEFFE2;
    padding: 24px 0;
    font-size: 12px;
    text-align: center;
}

.copyright > a {
    color: #999999;
}

.copyright > a:hover {
    color: #EEB76B
}

.skill-block .skill-line .line-fill {
    background: #4d82f8;
    border-radius: 3px;
    height: 9px;
    position: relative;
    transition: all 2s ease-out 0s;
    width: 0;
}


/*** portfolio page all code ***/

.header-img {
    height: 108px;
}

.header-img > img {
    height: 100%;
    width: 100%;
}


/*** breadcrumb ***/

.inner_page .hadding-area {
    width: 100%;
}

.breadcrumb {
    background-color: transparent;
    margin: 60px 0 0;
    padding: 0 0 17px;
}

.breadcrumb a:hover {
    color: #EEB76B
}

.breadcrumb a:focus {
    color: #EEB76B;
    outline: none
}

.inner_page .readmore-btn {
    display: inline-block;
    font-family: montserrat;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.inner_page .portfolio-item {
    padding-bottom: 30px;
}

.inner_page .portfolio-item:hover .portfolio-content {
    width: 360px!important;
    height: 292px !important;
}

.inner_page .portfolio-1 .portfolio-item:hover .portfolio-content {
    height: 337px !important;
    width: 337px !important;
}

.inner_page .portfolio-content:hover .images-link {
    top: 134px;
}

.inner_page .portfolio-content:hover .image-view {
    bottom: 118px;
}

.inner_page .portfolio-1 .portfolio-content:hover .image-view {
    bottom: 163px;
}


/*** blog bage **/

.inner_page .blog-content .title {
    color: #333;
}

.blog-page-inner .blog-item {
    padding-bottom: 30px;
}


/*** paginations ***/

.blog-page-inner .pagination {
    margin: 60px 15px 0;
}

.blog-page-inner .blog-meta > ul > li {
    background-color: #EEB76B;
    color: #fff;
    display: inline;
    font-size: 25px;
    height: 50px;
    margin-bottom:0;
    padding: 10px 14px;
    width: 50px;
}

.blog-page-inner .blog-meta {
    bottom:0px;
    height: 50px;
    left: 0;
    top: auto;
    width: 100%;
}

.blog-page-inner .blog-date span {
    display: inline-block;
    width: 27px;
}

.inner_page .blog-content .title:hover {
    color: #EEB76B
}


/*** side par ***/

.blog-search #search-form > input {
    border: 1px solid #dddddd;
    padding: 12px 50px 12px 15px;
    position: relative;
}

.blog-search #search-form > button {
    background: transparent;
    border: medium none transparent;
    padding: 13px 15px;
    position: absolute;
    right: 0;
    top: 0;
}

.blog-search > form {
    display: inline-block;
    height: 40px;
    max-width: 242px;
    position: relative;
}

.blog-search #search-form > button:hover {
    background-color: #EEB76B;
    color: #fff;
}

.widget {
    padding-bottom: 60px;
}

.widget-hadding {
    font-family: montserrat;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.widget-hadding > span::after {
    background-color: #EEB76B;
    bottom: -3px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.widget-hadding > span {
    position: relative;
}

.widget-cat > li {
    line-height: 45px;
}

.widget-cat > li > a span.fa {
    margin: 0 6px 0 0;
    transition: all 0.8s ease 0s;
}

.widget-cat > li > a:hover {
    margin: 10px;
    transition: all 0.8s ease 0s;
}

.resent-image {
    float: left;
}

.resent-image figure {
    margin: 0 20px 0 0;
    min-height: 80px;
    min-width: 80px;
}

.resent-image figure img {
    min-height: 100%;
    min-width: 100%;
}

.resent-details > a {
    color: #232323;
    font-family: lato;
    font-size: 16px;
    font-weight: bold;
}

.resent-details > a:hover {
    color: #EEB76B
}

.resent-date > span {
    color: #232323;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin-right: 10px;
}

.resent-date {
    color: #EEB76B;
    font-style: italic;
    padding-top: 8px;
}

.resent-post {
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
}

.resent-post:last-child {
    border: transparent;
    padding-bottom: 0;
}

.resent-post.first-item {
    padding-top: 0;
}

.widget .blog-des {
    line-height: 26px;
}

.populer-tag > li {
    display: inline;
}

.populer-tag > li > a {
    background-color: #1c1c1c;
    color: #fff;
    display: inline-block;
    margin: 0 6px 1px -4px;
    overflow: hidden;
    padding: 7px 19px;
}

.populer-tag > li > a:hover {
    background-color: #EEB76B;
    color: #fff;
}


/*** blog details ***/


/*** blog details  ***/

.blog-details-thumbnail {
    position: relative;
}

.blog-details-thumbnail::after {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}

.blog-details-contant > h4 {
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 25px;
}

.blog-details-meta > ul > li {
    color: #EEB76B;
    display: inline;
    font-size: 14px;
    margin-left: 0;
    margin-right: 10px;
}

.blog-details-meta > ul > li a span.fa {
    margin-left: 0;
    margin-right: 5px;
}

.blog-details-meta a {
    color: #EEB76B;
    margin-left: 0;
}

.blog-details-meta a:hover {
    color: #232323;
}

.blog-details-des {
    line-height: 26px;
    padding-top: 20px;
}

.comment-area {
    padding-top: 70px;
}

.comment-area h2 {
    font-family: montserrat;
    font-size: 16px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.comment-area h2 span.fa {
    margin-left: 0;
    margin-right: 5px;
}

.comment-img {
    float: left;
    height: 40px;
    width: 40px;
}

.comment-time {
    color: #333;
    margin: 5px 0;
    display: inline;
}

.comment-img > img {
    height: 100%;
    width: 100%;
}

.comment-content {
    overflow: hidden;
    padding-left: 15px;
}

.comment-content h3 {
    display: inline;
    font-family: montserrat;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.comment-content p {
    line-height: 26px;
    margin-top: 10px;
}

.comment-reply {
    display: inline;
    font-style: italic;
    margin: 8px 0;
}

.blog-details-reply-box {
    display: inline;
    float: right;
    text-transform: uppercase;
}

.comment-reply a {
    color: #333;
}

.comment-reply a:hover {
    color: #EEB76B
}

.comment-list-reply {
    padding: 50px 0 50px 72px;
}

.comment-respond {
    padding-top: 70px;
}

.respond-title {
    font-family: montserrat;
    font-size: 16px;
    padding: 20px 0 35px;
    text-align: left;
    text-transform: uppercase;
}

.respons-box .form-control {
    border: 1px solid #e8e8e8;
    border-radius: 0;
    box-shadow: none;
    height: 40px
}

.form-control.form-comment {
    height: auto;
}

.respons-box .btn.btn-buttons.submit-btn {
    margin: 15px 0 0;
}

.respons-box .form-button {
    display: block;
}

.respons-box .btn.btn-buttons.submit-btn:hover {
    background-color: #232323;
    color: #fff;
    border-color: #232323
}

.blog-details-section {
    padding-bottom: 100px
}

.comment-header {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
}


/*** about page ***/

.about-page .about-img img {
    height: 100%;
    width: 100%;
}

.about-page .about-img {
    height: 250px;
    margin: 0 auto;
    width: 600px;
}

.about-page .about-content h2 {
    font-family: montserrat;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 35px;
}

.about-page .about-content p {
    padding: 0 146px 0 145px;
}

.about-page .about-content {
    padding-top: 70px;
}

.about-img.about-2-page {
    height: 327px;
    width: auto;
}

.about-page .about-content-2 {
    padding: 0;
}

.about-page .about-page-des-2 {
    padding: 0 !important;
}

.about-page .about-content-2 h2 {
    padding-bottom: 20px;
}


/*** contact page ***/

.contact-page .maps-section {
    height: 450px;
}

.contact-page .contact-box span {
    color: #939393;
    font-size: 45px;
}

.contact-page .contact-box h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 7px;
    text-transform: uppercase;
}

.contact-page .contact-box-inner {
    border: 1px solid #e6e6e6;
    padding: 60px 53px;
}
